<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-view view-title="Accounts">
    <ion-nav-buttons side="primary">
        <span style="float: right;">
            <a class="button icon ion-android-home" 
               href="#/tab/dash"></a>
        </span>
    </ion-nav-buttons>    
    <ion-content on-swipe-down="refreshDataCall()">
        <div class="card row-no-padding" 
             ng-repeat="account in itemList" 
             ng-click="routeState('transactions', 
                         {urlPath: 'transactions_filter/?account=' + account.id,
                            listKey: 'txnByAccount' + account.id})">
            <div class="item item-text-wrap item-icon-left item-icon-right">
                <i ng-show="account.type == 'Credit Card'" class="icon ion-card assertive"></i>
                <i ng-show="account.type == 'Debit Card'" class="icon ion-briefcase royal"></i>
                <i ng-show="account.type == 'Cash Card'" class="icon ion-cash calm"></i>
                <i ng-show="account.type == 'Account' && account.bank != 'Cash'" class="icon ion-briefcase royal"></i>
                <i ng-show="account.type == 'Account' && account.bank == 'Cash'" class="icon ion-cash balanced"></i>
                <span ng-bind="account.bank"> </span>
                <span ng-bind="account.type"> </span>
                <span ng-hide="account.bank=='Cash'" ng-bind="account.name"> </span>
<!--                <i class="icon ion-android-list"></i>-->
            </div>  
            <div class="item item-text-wrap">
                <div class="padding-top" ng-hide="account.balances.available_balance">
                    <strong class="assertive">
                        No Balance information available
                    </strong>
                </div>
                <div class="padding-top" ng-show="account.balances.available_balance">
                    <strong>Available Balance: </strong>
                    <span style="float:right;">
                        {{account.balances.available_balance | currency: '&#8377; '}}
                    </span>
                </div>
                <div class="padding-top" ng-show="account.balances.outstanding_balance">
                    <strong>Outstanding Balance: </strong>
                    <span style="float:right;">
                        {{account.balances.outstanding_balance | currency: '&#8377; '}}
                    </span>
                </div>
                <div class="padding-top" ng-show="account.balances.credit_limit">
                    <strong>Credit Limit: </strong>
                    <span style="float:right;">
                        {{account.balances.credit_limit | currency: '&#8377; '}}
                    </span>
                </div>
            </div>
        </div>
        <ion-infinite-scroll
            ng-if="next"
            icon="ion-loading-c"
            on-infinite="loadMoreItems()"
            distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>