<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Record Cash Expense</h1>
        <!--
        <a class="button icon-right ion-android-exit"
                ng-click="closeCashExpenseModal()"></a>
        -->
    </ion-header-bar>
    <ion-floating-button ng-click="closeCashExpenseModal()"
                         has-footer="false"
                         button-color="#ef473a"
                         icon="ion-android-exit"
                         icon-color="#fff">
    </ion-floating-button>
    <ion-content class="padding">
        <label class="item item-input">
            <span class="input-label">Amount</span>
            <input ng-model="transaction.amount"
                   ng-change="updateSliderAmount()"
                   type="number">
        </label>
        <div class="item range range-positive">
            <i class="icon ion-ios-minus-outline"></i>
            <input ng-model="transaction.amountStr"
                   ng-change="updateTextBoxAmount()"
                   type="range"
                   name="amount"
                   min="0" 
                   max="5000"
                   step="25">
            <i class="icon ion-ios-plus"></i>
        </div>
        <div class="row" ng-repeat="row in categoriesGrid">
            <div class="col" ng-repeat="item in row">
                <button class="button button-small"
                        ng-click="selectCategory(item)">
                    <span ng-bind="item.category"></span>
                </button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>