<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-view view-title="Spend on Category" on-swipe-down="refreshDataCall()">
    <ion-nav-buttons side="primary">
        <span style="float: right;">
            <a class="button icon ion-android-home" 
               href="#/tab/dash"></a>
        </span>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="padding-vertical"
                      ng-repeat="rec in itemList[0].data">
               <table  style="width: 100%"
                       ng-click="routeState('transactions', 
                                            {urlPath: 'transactions_filter/?category=' + rec.id,
                                             listKey: 'txnByCategory' + rec.id})">
                    <tr>
                        <td style="width: 75%; vertical-align: middle">
                            <h2 ng-bind="rec.category | limitTo:20"></h2>
                        </td>
                        <td  style="width: 25%; vertical-align: middle">
                            <h2>
                                <span style="float:right;">
                                    {{rec.amount | currency: '&#8377; '}}
                                </span>
                            </h2>
                        </td>
                    </tr>
                </table>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
            ng-if="next"
            icon="ion-loading-c"
            on-infinite="loadMoreItems()"
            distance="1%">
        </ion-infinite-scroll>
        <hr ng-hide="next">
    </ion-content>
</ion-view>