<ion-view view-title="SMS List">
    <ion-content class="padding">
        <p><strong>Last Upload Date: </strong><span ng-bind="lastSmsUploadDate"></span></p>
        <ion-list>
            <div ng-repeat="sms in smsList" >
                <div  class="card animated bounceIn" ng-show="checkDate(sms)">
                    <div class="item item-assertive item-divider" ng-show="isNumber(sms.address)">
                        <strong><span ng-bind="sms.address"></span></strong>
                        <span style="float:right;"><i>Personal - Ignore </i><i class="icon ion-close-circled"></i></span>
                    </div>
                    <div class="item item-positive item-divider" ng-hide="isNumber(sms.address)">
                        <strong><span ng-bind="sms.address"></span></strong>
                        <span style="float:right;"><i>Service text </i><i class="icon ion-checkmark-circled"></i></span>
                    </div>
                    <div class="item item-text-wrap">
                        <p><strong>ID: <span ng-bind="sms._id"></span></strong></p>
                        <p><strong>Date: </strong><span ng-bind="dateStr(sms.date)"></span></p>
                        <p><strong>Date Sent: </strong><span ng-bind="dateStr(sms.date_sent)"></span></p>
                    </div>
                    <div class="item item-text-wrap">
                        <span ng-bind="sms.body"></span>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
