<ion-view view-title="Reports">
    <ion-content on-swipe-down="refreshData()">
        <!--div class="item item-text-wrap" class="padding"-->
        <div  class="padding">
            <p ng-hide="refreshing"><small style="float:right;color: graytext;">Swipe down to refresh reports</small></p>
            <p ng-show="refreshing" style="float:right;color: graytext;">
                <small>Refreshing...</small>
                <ion-spinner icon="spiral" ng-show="refreshing"></ion-spinner>
            </p>
            <br/>
        </div>
        <div class="padding" ng-hide="chartList"><strong>Oops! No Reports Available</strong></div>
        <div>
            <ion-list>
                <ion-item ng-repeat="chart in chartList" ng-show="chart.data" ng-click="showChart(chart)">
                    <small>
                        <!--<span ng-bind="chart.options.title"></span>-->
                        <a ng-show="chart.type=='BarChart'" class="button icon-left ion-stats-bars button-clear button-dark"><span ng-bind="chart.options.title"></span></a>
                        <a ng-show="chart.type=='PieChart'" class="button icon-left ion-pie-graph button-clear button-dark"><span ng-bind="chart.options.title"></span></a>
                        <a ng-show="chart.type=='ColumnChart'" class="button icon-left ion-stats-bars button-clear button-dark"><span ng-bind="chart.options.title"></span></a>
                        <a ng-show="chart.type=='LineChart'" class="button icon-left ion-arrow-graph-up-right button-clear button-dark"><span ng-bind="chart.options.title"></span></a>
                    </small>
                    <ion-option-button class="button-positive" ng-click="showChart(chart)">
                        Show
                    </ion-option-button>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
