<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <ion-list>
            <div  class="card animated bounceInRight" ng-repeat="account in accountList">
                <div class="item item-text-wrap">
                    <strong><span ng-bind="account.name"></span></strong> (<span ng-bind="account.bank"></span>)
                    <div class="row">
                        <div class="col">
                            <p ng-show="account.balances.credit_limit">Limit</p>
                            <p>{{account.balances.credit_limit | currency: '&#8377 '}}</p>
                        </div>
                        <div class="col">
                            <p ng-show="account.balances.outstanding_balance">O/S</p>
                            <p>{{account.balances.outstanding_balance | currency: '&#8377 '}}</p>
                        </div>
                        <div class="col">
                            <p ng-show="account.balances.available_balance">Available</p>
                            <p ng-hide="account.balances.available_balance">Balance Unavailable</p>
                            <p>{{account.balances.available_balance | currency: '&#8377 '}}</p>
                        </div>
                    </div>            
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
