<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <!--
        <button class="button button-block button-energized icon-right ion-stats-bars" ng-click="toggleDebug()">
            ToggleDebug 
        </button>
        -->
        <ion-list>
            
            <div  class="card animated bounceIn" ng-repeat="account in accountList">
                <div class="item item-text-wrap">
                    <strong><span ng-bind="account.name"></span></strong> (<span ng-bind="account.bank"></span>)
                    <div class="row">
                        <div class="col">
                            <p ng-show="account.balances.credit_limit">Limit</p>
                            <p>{{account.balances.credit_limit | currency: '&#8377;'}}</p>
                        </div>
                        <div class="col">
                            <p ng-show="account.balances.outstanding_balance">O/S</p>
                            <p>{{account.balances.outstanding_balance | currency: '&#8377;'}}</p>
                        </div>
                        <div class="col">
                            <p ng-show="account.balances.available_balance">Available</p>
                            <p ng-hide="account.balances.available_balance">Balance Unavailable</p>
                            <p>{{account.balances.available_balance | currency: '&#8377;'}}</p>
                        </div>
                    </div>            
                </div>
            </div>
            <div class="row">
                <div class="col col-55">
                    <div  class="card animated bounceIn">
                        <div class="item item-divider" ng-show="showHeader">
                            <small>Balance Summary</small>
                        </div>
                        <div class="item item-text-wrap">
                            <p><small><strong>Avl Balance: </strong><span>&#8377;10,00,000</span></small></p>
                            <p><small><strong>O/S Cr Card: </strong><span>&#8377;5,00,000</span></small></p>
                            <p><small><strong>Avl Credit: </strong><span>&#8377;15,00,000</span></small></p>
                        </div>
                    </div>
                </div>
                <div class="col col-45">
                    <div  class="card animated bounceIn">
                        <div class="item item-divider" ng-show="showHeader">
                            <small>Spend Summary</small>
                        </div>
                        <div class="item item-text-wrap">
                            <p><small><strong>Last 7 days: </strong><span>&#8377;10,000</span></small></p>
                            <p><small><strong>Last 30 Days: </strong><span>&#8377;1,50,000</span></small></p>
                            <p><small><strong>Last 6 months: </strong><span>&#8377;6,00,000</span></small></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="button button-positive" ng-click="toggleHeader()">
                <span ng-bind="toggleHeaderPrompt"></span>
            </button>
        </ion-list>
    </ion-content>
</ion-view>
