<ion-view view-title="Uploaded Texts">
    <ion-content>
        <div class="card animated bounceIn" ng-repeat="text in itemList">
            <div class="item item-text-wrap" class="padding" >
                <p ng-bind="text.text_message"></p>
            </div>  
        </div>
        <ion-infinite-scroll
            ng-if="next"
            icon="ion-loading-c"
            on-infinite="loadMoreItems()"
            distance="1%">
        </ion-infinite-scroll>
        <hr ng-hide="next">
    </ion-content>
</ion-view>
