<ion-view view-title="Debug Information">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <p><strong>deviceRec: </strong><span ng-bind="deviceRec"></span></p>
                <p><strong>User Token: </strong><span ng-bind="userToken"></span></p>
                <p><strong>User ID: </strong><span ng-bind="userID"></span></p>
                <p><strong>Device PK: </strong><span ng-bind="devicePK"></span></p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <p><strong>Device ID stored: </strong><span ng-bind="device_id"></span></p>
                <p><strong>UUID: </strong><span ng-bind="uuid"></span></p>
                <p><strong>Error: </strong><span ng-bind="myErr"></span></p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <p><strong>Device Record String: </strong><span ng-bind="deviceRecStr"></span></p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <p><strong>Latitude: </strong><span ng-bind="latitude"></span></p>
                <p><strong>Longitude: </strong><span ng-bind="longitude"></span></p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <p><strong>Unprocessed SMS: </strong><span ng-bind="unprocessedSms"></span></p>
            </div>
        </div>
    </ion-content>
</ion-view>
