<ion-view view-title="Activity Feed">
    <ion-content on-swipe-down="refreshData()">
        <!--div class="item item-text-wrap" class="padding"-->
        <div class="padding">
            <p ng-show="refreshing" style="float:right;color: graytext;">
                <small>Refreshing...</small>
                <ion-spinner icon="spiral" ng-show="refreshing"></ion-spinner>
            </p>
        </div>
        <div ng-repeat="activity in activityFeed ">
                <div class="card" ng-click="showChart(activity)">
                    <div class="item item-divider item-light item-icon-right">
                         <!--ng-class="'item-' + activity.theme_colour">-->
                        <span ng-bind="activity.header"></span>
                         [<span ng-bind="activity.subheader"></span>]
                        <i class="icon ion-android-more-vertical"
                            ng-if="activity.chart_data">
                        </i>
                    </div>
                    <div class="item item-text-wrap">
                        <!--
                        <i class="icon"
                           ng-show="activity.icon_name"
                           ng-class="[activity.icon_colour, activity.icon_name]"></i>
                        -->
                        <span ng-bind="activity.body"></span>
                    </div>
                </div>
        </div>
    </ion-content>
</ion-view>