<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-view view-title="Transactions" on-swipe-down="refreshDataCall()">
    <ion-nav-buttons side="primary">
        <span style="float: right;">
            <a class="button icon ion-android-home" 
               href="#/tab/dash"></a>
        </span>
    </ion-nav-buttons>    
    <ion-content>
        <div class="padding-vertical">
            <ion-list>
                <ion-item ng-repeat="rec in itemList"
                          class="item-remove-animate item-icon-right">
                    <table style="width:100%">
                        <tr ng-click="showPopup({text:rec.text[0].text_message,
                                                title: rec.text[0].sender})">
                            <td style="width:75%; vertical-align: middle">
                                <p>
                                    <span ng-bind="rec.transaction_date_time | date:'dd-MMM-yy'"></span>
                                </p>
                                <h2 ng-if="rec.vendor=='UNKNOWN'">
                                    *<span ng-bind="rec.vendor_alias"></span>
                                </h2>
                                <h2 ng-if="rec.vendor!=='UNKNOWN'"
                                        ng-bind="rec.vendor">
                                </h2>
                            </td>
                            <td style="width:25%; vertical-align: middle">
                                <strong><p>
                                    <span style="float:right">
                                        {{rec.amount | currency: '&#8377; '}}
                                    </span>
                                </p></strong>
                            </td>
                        </tr>
                    </table>
                    <i class="icon ion-android-more-vertical"
                        ng-if="rec.is_cash_txn==true">
                    </i>
                    <ion-option-button class="button-assertive"
                                       ng-if="rec.is_cash_txn==true"
                                       ng-click="deleteItem(rec.id)">
                        Delete
                    </ion-option-button>
                </ion-item>
            </ion-list>
        </div>
        <ion-infinite-scroll
            ng-if="next"
            icon="ion-loading-c"
            on-infinite="loadMoreItems()"
            distance="1%">
        </ion-infinite-scroll>
        <hr ng-hide="next">
    </ion-content>
</ion-view>