/* Empty. Add your own CSS if you like */

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

.scroll-content{
    /*background-image: url("../img/leather_1.png");*/
    background-color: #f8f8f8;
    background-repeat: repeat;
}

.row-category {
    padding: 5px 2px;
}

.col-category {
    padding: 0px;
}

.button-category {
    padding: 1px;
    font-stretch: expanded;
}

.text-category {
    letter-spacing: -0.7px;
    font-size: 85%;
}

.icon-category {
    font-stretch: expanded;
}

.nvd3 text {
    font: normal 8px;